.global-title {
  font-size: 85px;
  line-height: 1.2em;
  font-weight: 600;
  text-align: left;
  background: url('https://images.pexels.com/photos/1616403/pexels-photo-1616403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-clip: text;
  background-attachment: fixed;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0);
  background-size: cover;
  text-shadow: 0 0 rgba(0, 0, 0, .06);
  @media screen and (min-width: map-get($break-points, 'small')) {
    font-size: 100px;
    line-height: 1.1em;
  }
  @media screen and (min-width: map-get($break-points, 'medium')) {
    font-size: 125px;
    line-height: 1em;
  }
  @media screen and (min-width: map-get($break-points, 'large')) {
    font-size: 175px;
    line-height: 0.9em;
  }
  @media screen and (min-width: map-get($break-points, 'extra-large')) {
    font-size: 200px;
    line-height: 0.8em;
  }
}

.sub-title {
  font-size: 18px;
  @media screen and (min-width: map-get($break-points, 'small')) {
    font-size: 20px;
  }
  @media screen and (min-width: map-get($break-points, 'medium')) {
    font-size: 22px;
  }
  @media screen and (min-width: map-get($break-points, 'large')) {
    font-size: 24px;
  }
  @media screen and (min-width: map-get($break-points, 'extra-large')) {
    font-size: 26px;
  }
}