<nav class="navbar navbar-expand-lg navbar-white bg-primary">
  <a class="navbar-brand ml-2 text-white" href="/index.php">Primary</a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav navbar-right mr-2">
      <li class="nav-item active my-auto mx-3">
        <a class="nav-link text-dark" href="#">Home</a>
      </li>
      <li class="nav-item my-auto mx-3">
        <a class="nav-link text-white" href="#">Features</a>
      </li>
      <li class="nav-item my-auto mx-3">
        <a class="nav-link text-white" href="#">Samples</a>
      </li>
      <li class="nav-item my-auto mx-3">
        <a class="nav-link text-white" href="#">Licence</a>
      </li>
      <li class="nav-item my-auto mr-4">
        <div class="vertical-divider bg-white"><div>
        </li>
        <li class="nav-item my-auto mx-lg-2 py-2 py-lg-0 px-3 px-md-0">
          <a href="login.php">
            <button class="btn btn-outline-light" type="submit"><i class="fab fa-github pr-2"></i>Github</button>
          </a>
        </li>
        <li class="nav-item my-auto mx-lg-2 py-2 py-lg-0 px-3 px-md-0">
          <a href="signup.php">
            <button class="btn btn-outline-light" type="submit"><i class="fas fa-download pr-2"></i>Download</button>
          </a>
        </li>
      </ul>
    </div>
  </nav>